[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=/etc/systemd/custom-scripts/set-hdparm.sh

[Install]
WantedBy=suspend.target 
